body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  overflow-x: hidden;

  a{text-decoration: none;}
}

.header {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  width: 200px;

  ul {list-style-type: none;}
}



.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
  width:100%;
  box-sizing: border-box;
}

.sidebar{
  background-color:#FFFFFF;
  color: #8796A1;
}